.heading {
    color: gray;
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
    margin-bottom: 10px;
}

.p {
    margin-bottom: 5px;
    text-align: center;
}

.a {
    margin-left: 3px;
    color: #ae1100;
}

.a:hover {
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
