.list {
    background-color: skyblue;
    border-radius: 10px;
    padding: 10px;
    color: gray;
}

.heading {
    color: #ae1100;
    text-shadow: 1px 1px 1px #fff;
    margin-top: 10px;
    margin-bottom: 5px;
}
